.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #ED8814; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
  }
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

.sidenav a:hover {
    color: #929393;
  }

.sidenav .closebtn {
  font-family: 'Questrial', sans-serif;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
  z-index: 20;
}


#menu-title {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    color: #ED8814;
    cursor: pointer;
    line-height: 50px;
    padding: 30px;
}


