/* Skrifttyper*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Questrial&display=swap');

body {
    background-color: #ffffff;
    font-family: ;
}

h1{
    font-family: 'Questrial', sans-serif;
    font-size: 48px;
    color: #ED8814;
}

h4{
    font-family: "Open Sans",sans-serif;
    color: #929393;
}

p{
    font-family: 'Open Sans', sans-serif;

}
