/* Skrifttyper*/


body {
    background-color: #ffffff;
    font-family: ;
}

<<<<<<< HEAD
h1{
    font-family: 'Questrial', sans-serif;
    font-size: 48px;
    color: #ED8814;
}

h4{
    font-family: "Open Sans",sans-serif;
    color: #929393;
}

p{
    font-family: 'Open Sans', sans-serif;

}
=======










.flexbox




















































































/*footer*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  footer {
    background-color: #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .link-list {
    list-style-type: none;
    padding: 0;
  }
  
  .link-list li {
    margin-bottom: 5px;
  }

  /* small screen */
  @media (max-width: 768px) {
    .footer-section {
      flex-basis: 100%;
      margin-right: 0;
    }
  }
>>>>>>> bc5043639a8b6d24bb47b3fc4cdc777eda5efbfc
